<!DOCTYPE html>
<html>
<head>
  <title>TheVault</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--navbar goes here -->
<!-- Adds a navigation bar -->
	<div class="container-fluid">

	    
	    <!-- Second navbar for profile settings -->
	    <nav class="navbar navbar-inverse">
	      <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">The VAULT</a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/">Home</a></li>


            <% if current_user %> 
             <li> <%= link_to "Profile", user_path(current_user), class: "profile" %></li>
            <% end %>
								

						
					<li> <a href="/users/new">Sign Up</a></li>

					<% if current_user %>
						<li><%= link_to "Log out",  logout_path, method: "destroy" %> </li>
							<% else %>
							<li><a href="/login">Log In</a></li>
							<% end %>

           
           
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->
	</div><!-- /.container-fluid -->


<%= yield %>

</body>
</html>
