<div class = "my-container">
	<div>
	  Welcome, <%= @user.alias %><br>
	  First Name: <%= @user.first_name %><br>
	  Last Name: <%= @user.last_name %><br>
	  Email: <%= @user.email %><br>
	  Current City: <%= @user.city %><br>
	  Profile Pic: <%= image_tag("#{ @user.profile_pic_url}")%><br>
	  Join Date: <%= @user.created_at %>
	</div>
  <h3>User's events</h3>
  <%@user.events.each do |event| %>
    <div>
      <%= link_to "#{event.title}", event_path %>
    </div>
  <%end%>
</div>
