<div>
  Welcome, <%= @user.alias %> 
  First Name: <%= @user.first_name %>
  Last Name: <%= @user.last_name %>
  Email: <%= @user.email %>
  Current City: <%= @user.current_city_id %>
  Profile Pic: <%= @user.profile_pic_url %>
</div>
