<div class = "my-container">
	<div>
	  Welcome, <%= @user.alias %><br>
	  First Name: <%= @user.first_name %><br>
	  Last Name: <%= @user.last_name %><br>
	  Email: <%= @user.email %><br>
	  Current City: <%= @user.current_city_id %><br>
	  Profile Pic: <%= @user.profile_pic_url %>
	</div>
</div>
