<div class = "my-container">
	<div>
	  Welcome, <%= @user.alias %><br>
	  First Name: <%= @user.first_name %><br>
	  Last Name: <%= @user.last_name %><br>
	  Email: <%= mail_to @user.email %><br>
	  Profile Pic: <%= image_tag("#{ @user.avatar.url(:medium)}")%><br>
	  Member Since: <%= @user.created_at.to_formatted_s(:long_ordinal) %>
	</div>
  <%= link_to "Edit Profile", edit_user_path, class:"btn btn-danger" %>
  <h3><%= @user.first_name + " " + @user.last_name %>'s Created Events</h3>
  <%@user.events.each do |event| %>
    <div>
      <%= link_to "#{event.title} in #{event.city.name}", event_path %>
    </div>
  <%end%>
</div>
