<div class = "content city-bg-<%= @city.id %>">
	<div>
	  <h2><%= @city.name %></h2>
	</div>


	<% @city.events.order(:event_date).each do |event| %>
	    <div>
	    	<h5><%= link_to event.title, event_path(event) %></h5>
	    </div>
	<%end%>
  <div data-no-turbolink>
  	<%= link_to "All Cities", cities_path, class:"btn btn-danger" %> <%= link_to "New Event", new_event_path, class:"btn btn-danger" %>
  </div>
</div>
