<div class = "content city-bg-<%= @city.id %>">
	
	<div class = "col-xs-4 col-xs-offset-4"><br>
		<div id="events-list">
			<h3><%= @city.name %> Events</h3><br>
				<% @city.events.order(:event_date).each do |event| %>
		    		<p class="text-left"><%= link_to event.title, event_path(event) %> -- <%= event.body %></p>
				<%end%>
		</div><br>

	  <div data-no-turbolink>
	  	<%= link_to "All Cities", cities_path, class:"btn btn-danger" %> <%= link_to "New Event", new_event_path, class:"btn btn-danger" %>
	  </div>
	 </div>
	</div>
</div>

