<div class = "content container-fluid">
  <h1>New Event</h1><br>

  <%= form_for @event do |f| %>
    <div class ="form-group col-xs-4 col-xs-offset-4">
      <div>
      	<%= f.hidden_field :user_id, :value => "#{@user.id}" %>
      </div>
      <div>
        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
      </div><br>
      <div>
        <%= f.text_area :body, class: "form-control", placeholder: "Describe the event" %>
      </div><br>
      <div>
        <%= f.date_field :event_date, class: "form-control", placeholder: "Event Date" %>
      </div><br>
      <div>
      	<%= f.select :city_id, [['San Francisco','1'],['London','2']], class: "form-control" %>
      </div><br>
      <!-- TODO -->
      <!-- add city picker, add password confirmation -->
      <%= f.submit "Create Event", class: "btn btn-danger" %>
    <% end %> 
  </div>
</div>